body{
	background-color: #99cfff;
	font-family: Verdana, sans-serif;
	margin: 1em;
}

button{
	background-color: navy;
	color: white;
	border: 2px solid navy;
	width: 128px;
	font-size: 1.5em;
}
.playButtons{
	display: none;
}

/*.UI > p {
	display: inline-block;
}*/